$direcao-flex-desktop: row;
$direcao-flex-mobile: column;
$espacoComum: 0.5em;

@mixin flexbox-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin image-block {
  display: inline-block;
  text-align: center;
}

@mixin link-block {
  display: block;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efeef3;
  font-family: "Kodchasan", sans-serif;
}

header {

  @include flexbox-mobile();
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  width: 100%;
  padding: 1em 1em 0;
  margin-bottom: $espacoComum;
  max-height: 50%;
  // border: 2px solid aqua;
}

.main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  // border: solid 3px darkred;

  .image-link {
    @include image-block();
    // display: inline-block;
    // text-align: center;
    margin: 0 auto;
    // border: 2px solid burlywood;

    img {
      display: block;
      max-width: 100%;
    }
  }

  nav {
    @include flexbox-mobile();
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // border: 2px solid darkgreen;
    width: 100%;
    margin-top: $espacoComum;

    a {
      @include link-block();
      // display: block;
      // text-align: center;
      text-decoration: none;
      color: black;
      margin: 0.5em 0;
      font-size: 1.25rem;
    }
  }
}

.banner {
  display: none;
}

main {
  flex: 1;
  // border: 3px solid hotpink;
}

.glycolic-gloss {

  @include flexbox-mobile();

  // display: flex;
  // flex-direction: column;
  // align-items: center;
  margin: $espacoComum;
  // border: 2px solid purple;

  img {
    width: 90%;
    height: auto;
    margin-top: $espacoComum;
    // border: solid 3px indigo;
  }
}

.glycolic-gloss-text {
  @include flexbox-mobile();
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;

    h1 {
      font-size: clamp(1.5rem, 3vw, 3rem);
      font-weight: 500;
      text-align: center;
      line-height: 2rem;
      margin: 1em;
      white-space: wrap;
      max-width: 90%;
      height: auto;
      // border: 3px solid darkblue;

      &:hover {
        color: #f6d3e2;
      }
    }
  }

  p {
    font-size: clamp(1.25rem, 3vw, 2rem);
    font-weight: 400;
    text-align: center;
    line-height: 1.5rem;
    max-width: 90%;
    height: auto;
    margin-bottom: $espacoComum;
    // border: 3px solid sienna;
  }
}

.produtos-favoritos {
  @include flexbox-mobile();
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  justify-content: space-around;
  margin: $espacoComum;
  // border: 3px solid olive;

  h2 {
    font-size: clamp(1.25rem, 3vw, 2.5rem);
    font-weight: 500;
    text-align: center;
    max-width: 90%;
    height: auto;
    margin: $espacoComum;
    // border: 2px solid deeppink;
  }
}

.produtos {
  // border: solid 3px darkorange;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1em;
  width: 100%;

  .image-link-produtos {
    @include flexbox-mobile();
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    margin: $espacoComum;

    img {
      display: block;
      // border: 3px solid gold;
      // width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 480px) {
  .image-link-produtos {
    width: 40%;
  }
}

@media (min-width: 1025px) {

  header {
    flex-direction: $direcao-flex-desktop;
    height: auto;
    padding: 0;
    margin: 0;
  }
  
  .main-header {
    flex-direction: $direcao-flex-desktop;
    justify-content: space-between;
    background-color: #efeef3;
    position: absolute;
    top: 0;

    .image-link {
      @include link-block();
      // display: block;
      // text-align: center;
      width: 10%;
      img {
        width: 100%;
      }
    }

    nav {
      flex-direction: $direcao-flex-desktop;
      justify-content: space-between;
      width: 85%;
      gap: 1em;

      a {
        font-size: 1.5rem;
        margin: $espacoComum;
      }
    }
  }

  .banner {
    //   border: 3px solid fuchsia;
    display: block;
    width: 100%;
    height: 320px;
    background-image: url("./img//BACKGROUND.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .glycolic-gloss {
    flex-direction: $direcao-flex-desktop;
    justify-content: space-around;
    margin: $espacoComum;

    img {
      max-width: 50%;
      height: 100%;
      margin: 1rem 1rem 1rem 6rem;
    }
  }

  .glycolic-gloss-text {
    // justify-content: center;
    max-width: 50%;
    margin: 1rem 3rem 0.5rem 1rem;

    h1 {
      // font-size: 2.5rem;
      font-weight: 600;
      // white-space: nowrap;
      // width: auto;
    }

    p {
      // font-size: 1.5rem;
      line-height: 2rem;
      width: auto;
      // margin-bottom: 0;
    }
  }

  .produtos-favoritos {
    flex-direction: $direcao-flex-desktop;
    justify-content: space-around;
    margin-bottom: 4em;

    h2 {
      // font-size: 1.5rem;
      // font-weight: 500;
      max-width: 40%;
      margin: 1rem 1rem 1rem 6rem;
      // padding: 0 auto;
    }
  }

  .produtos {
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: $espacoComum;
    padding: 0;
    max-width: 50%;

    .image-link-produtos {
      flex-direction: $direcao-flex-desktop;
      justify-content: space-between;
      max-width: 50%;
      margin: 1rem;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}


// @mixin flexbox-mobile {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// $espacoComum: 0.5em;
// $decoracaoLink: none;

// $direcao-flex-desktop: row;
// $direcao-flex-mobile: column;

// @mixin image-block {
//   display: inline-block;
//   text-align: center;
// }

// @mixin link-block {
//   display: block;
//   text-align: center;
// }