$espacoComum: 0.5em;

@mixin flexbox-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin image-block {
  display: inline-block;
  text-align: center;
}

@mixin link-block {
  display: block;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efeef3;
  font-family: "Kodchasan", sans-serif;
}

header {
  @include flexbox-mobile();
  width: 100%;
  max-height: 50%;
  padding: 1em 1em 0;
  margin-bottom: $espacoComum;
}

.main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  .image-link {
    @include image-block();
    margin: 0 auto;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  nav {
    @include flexbox-mobile();
    width: 100%;
    margin-top: $espacoComum;

    a {
      @include link-block();
      text-decoration: none;
      color: black;
      margin: 0.5em 0;
      font-size: 1.25rem;
      transition: color 0.3s ease;

      &:hover {
        color: #38323254;
      }
    }
  }
}

picture {
  display: none;
}

main {
  flex: 1;
}

.glycolic-gloss {
  @include flexbox-mobile();
  margin: $espacoComum;

  img {
    width: 90%;
    height: auto;
    margin-top: $espacoComum;
  }
}

.glycolic-gloss-text {
  @include flexbox-mobile();

  h1 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: 500;
    text-align: center;
    padding: $espacoComum;
    margin: $espacoComum;
    max-width: 90%;
    height: auto;

    a {
      display: inline;
      text-align: center;
      text-decoration: none;
      color: black;
      transition: color 0.3s ease;
      margin: $espacoComum;

      &:hover {
        color: #f6d3e2;
      }
    }
  }

  p {
    font-size: clamp(1.25rem, 3vw, 2rem);
    font-weight: 400;
    text-align: center;
    line-height: 1.5rem;
    max-width: 90%;
    height: auto;
    margin-bottom: $espacoComum;
  }
}

.produtos-favoritos {
  @include flexbox-mobile();
  justify-content: space-around;
  margin: $espacoComum;

  h2 {
    font-size: clamp(1.25rem, 3vw, 2.5rem);
    font-weight: 500;
    text-align: center;
    max-width: 90%;
    height: auto;
    margin: $espacoComum;
  }
}

.produtos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1em;
  margin: $espacoComum;
  width: 100%;

  .image-link-produtos {
    @include flexbox-mobile();
    margin: $espacoComum;

    img {
      display: block;
    }
  }
}

footer{
  width: 100%;
}

@media (min-width: 381px) and (max-width: 428px) {
  .produtos {
    gap: 2.5rem;
  }
}

@media (min-width: 1025px) {
  header {
    flex-direction: row;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .main-header {
    flex-direction: row;
    justify-content: space-between;
    background-color: #efeef3;
    position: absolute;
    top: 0;

    .image-link {
      @include link-block();
      width: 10%;
      img {
        width: 100%;
      }
    }

    nav {
      flex-direction: row;
      justify-content: space-between;
      width: 85%;
      gap: 1em;

      a {
        font-size: 1.5rem;
        margin: $espacoComum;
      }
    }
  }

  picture {
    display: inline-block;
    width: 100%;

    img{
      width: 100%;
    }
  }

  .glycolic-gloss {
    flex-direction: row;
    justify-content: space-around;
    margin: $espacoComum;

    img {
      max-width: 50%;
      height: 100%;
      margin: 1rem 1rem 1rem 6rem;
    }
  }

  .glycolic-gloss-text {
    max-width: 50%;
    margin: 1rem 3rem 0.5rem 1rem;

    a {
      h1 {
        font-weight: 600;
      }
    }
    p {
      line-height: 2rem;
      width: auto;
    }
  }

  .produtos-favoritos {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2em;

    h2 {
      max-width: 40%;
      margin: 1rem 1rem 1rem 6rem;
    }
  }

  .produtos {
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: $espacoComum;
    padding: 0;
    max-width: 50%;

    .image-link-produtos {
      flex-direction: row;
      justify-content: space-between;
      max-width: 50%;
      margin: $espacoComum;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
